<!DOCTYPE html>
<html>
<head>
    <title>Bender Dashboard</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#FF0000">
    <meta name="keywords" content="Discord, Bot, Bender, Dashboard, Best, Discord Bot, benderbot">
    <meta name="og:title" content="Bender Dashboard">
    <meta name="og:description" content="The web dashboard for Bender, to edit all its settings easily. CLOSED BETA - Many features will be unavailable.">
    <meta name="description" content="The web dashbaord for Bender, to edit all its settings easily. CLOSED BETA - Many features will be unavailable.">
    <meta name="og:image" content="https://benderbot.co/Bender-large.png">
    <meta name="og:site_name" content="Bender Bot">
    <meta name="og:url" content="https://dashboard.benderbot.co">
    <link rel="stylesheet" href="./style-v0.9.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulmaswatch/0.6.2/darkly/bulmaswatch.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.21/moment-timezone-with-data.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src='https://www.paypalobjects.com/js/external/api.js'></script>
    <script src="./timezoneData.js"></script>
    <script src="./dropdowns.js"></script>
</head>
<body><div id="app">
<transition name="fade">
    <div id="backdrop" v-show="sidenavOpen" @click="sidenavOpen = false"></div>
</transition>
<transition name="fade-slide">
    <div class="menu" id="sidenav" v-show="sidenavOpen">
        <a id="sidenav-close" @click="sidenavOpen = false">x</a>
        <p class="menu-label">Overview</p>
        <ul class="menu-list">
            <li v-for="item in navSections[0]">
                <a :href="'#' + item.id" @click="column = item.id" :data-nav="item.id" :class="item.id === column ? 'is-active' : ''">{{ item.name }} <span v-if="item.ro" class="ro">[Read-only]</span> <span v-if="item.cs" class="cs">[Coming soon™]</span></a>
            </li>
        </ul>
        <p class="menu-label">Moderation</p>
        <ul class="menu-list">
            <li v-for="item in navSections[1]">
                <a :href="'#' + item.id" @click="column = item.id" :data-nav="item.id" :class="item.id === column ? 'is-active' : ''">{{ item.name }} <span v-if="item.ro" class="ro">[Read-only]</span> <span v-if="item.cs" class="cs">[Coming soon™]</span></a>
            </li>
            <li><ul class="menu-list">
                <li v-for="item in navSections[2]">
                    <a :href="'#' + item.id" @click="column = item.id" :data-nav="item.id" :class="item.id === column ? 'is-active' : ''">{{ item.name }} <span v-if="item.ro" class="ro">[Read-only]</span> <span v-if="item.cs" class="cs">[Coming soon™]</span></a>
                </li>
            </ul></li>
            <li v-for="item in navSections[3]">
                <a :href="'#' + item.id" @click="column = item.id" :data-nav="item.id" :class="item.id === column ? 'is-active' : ''">{{ item.name }} <span v-if="item.ro" class="ro">[Read-only]</span> <span v-if="item.cs" class="cs">[Coming soon™]</span></a>
            </li>
        </ul>
        <p class="menu-label">Configuration</p>
        <ul class="menu-list">
            <li v-for="item in navSections[4]">
                <a :href="'#' + item.id" @click="column = item.id" :data-nav="item.id" :class="item.id === column ? 'is-active' : ''">{{ item.name }} <span v-if="item.ro" class="ro">[Read-only]</span> <span v-if="item.cs" class="cs">[Coming soon™]</span></a>
            </li>
            <li><ul>
                <li v-for="item in navSections[5]">
                    <a :href="'#' + item.id" @click="column = item.id" :data-nav="item.id" :class="item.id === column ? 'is-active' : ''">{{ item.name }} <span v-if="item.ro" class="ro">[Read-only]</span> <span v-if="item.cs" class="cs">[Coming soon™]</span></a>
                </li>
            </ul></li>
            <li v-for="item in navSections[6]">
                <a :href="'#' + item.id" @click="column = item.id" :data-nav="item.id" :class="item.id === column ? 'is-active' : ''">{{ item.name }} <span v-if="item.ro" class="ro">[Read-only]</span> <span v-if="item.cs" class="cs">[Coming soon™]</span></a>
            </li>
        </ul>
    </div>
</transition>
<section id="header-wrapper">
    <div id="header">
        <a class="b bold" href="/"><img src="./Bender.png" class="b">Bender Dashboard</a>
    </div>
    <div id="navbar" class="level is-mobile">
        <a id="sidenav-toggle" @click="sidenavOpen = !sidenavOpen">
            <img src="./menu.svg">
        </a>
        <div id="guild-picker">
            <span>Edit settings for:</span>
            <div id="guilds" class="dd">
                <div id="guilds-button" class="dd-trigger">
                    <div id="guilds-chooser" class="button" @click="openDropdown = openDropdown === 'guild' ? null : 'guild'">
                        <img v-if="!selectedGuildID" class="guild-icon" src="https://discordapp.com/assets/1c8a54f25d101bdc607cec7228247a9a.svg">
                        <span v-if="!selectedGuildID">Choose a server...</span>
                        <div v-if="selectedGuildID">
                            <img v-if="!!getGuild(selectedGuildID).iconSrc" class="guild-icon" :src="getGuild(selectedGuildID).iconSrc">
                            <span class="guild-name">{{ getGuild(selectedGuildID).name }}</span>
                        </div>
                    </div>
                </div>
                <div id="guilds-dropdown" class="dd-content" v-show="openDropdown === 'guild'">
                    <div v-for="guild in guilds" v-show="selectedGuildID !== guild.id">
                        <label :for="'G-' + guild.id">
                            <input type="radio" :id="'G-' + guild.id" :value="guild.id" v-model="selectedGuildID" class="hidden">
                            <img v-if="!!guild.iconSrc" class="guild-icon" :src="guild.iconSrc">
                            <span class="guild-name">{{ guild.name }}</span>
                        </label>
                        <br>
                    </div>
                    <div v-if="guilds.length === 0">
                        <span class="gray">No servers with "Manage Server" permission.</span>
                    </div>
                </div>
            </div>
            <img id="refresh" :class="loading ? 'working' : ''" title="Refresh settings" src="./refresh.png" @click="reloadGSettings(column === 'pro' ? 'PAYPAL' : selectedGuildID)">
            <img id="save" title="Save settings" src="./floppy_disk.png" @click="saveGSettings(column === 'pro' ? 'PAYPAL' : selectedGuildID)">
        </div>
        <div id="integration">
            <img class="pfp" v-if="user && user.pfp" :src="user.pfp">
            <span class="user-area" v-if="!!user">
                <span class="user-tag">{{ user.username }}<span class="gray">#{{ user.discriminator }}</span></span>
                <a id="logout" href="https://api.benderbot.co/logout">Logout</a>
            </span>
            <a v-else href="https://api.benderbot.co/login_redirect">Login with Discord</a>
        </div>
    </div>
</section>
<section id="settings-wrapper"><div id="content-placeholder" v-show="(!selectedGuildID && column !== 'pro') || !column">
    <span>Nothing to see here...</span> <span class="gray">Choose a server to start changing settings.</span>
</div><div id="pro" v-show="column === 'pro'">
    <div class="header">
        <span class="bold">Bender Pro Settings <img id="pp_logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/PayPal.svg/2000px-PayPal.svg.png"></span>
    </div>
    <div id="paypalIntegration" v-if="paypalInfo">
        <img v-if="paypalInfo.picture" :src="paypalInfo.picture">
        <span class="username" v-if="paypalInfo.name">Logged in as: {{ paypalInfo.name }}</span>
        <span class="gray" v-if="paypalInfo.email">{{ paypalInfo.email }}</span>
        <br><br>
        <div v-if="paypalInfo.plan">
            <span>Plan: {{ paypalInfo.plan.description }}</span> | <span class="gray">${{ paypalInfo.plan.amount }} {{ paypalInfo.plan.currency }} per {{ paypalInfo.plan.freq }}</span> | <span>State: {{ paypalInfo.plan.state }}</span>
            <br><br>
            <span>Use Bender Pro in servers:</span>
            <br>
            <div v-if="paypalInfo.guilds.length !== 0">
                <div v-for="guildID in paypalInfo.guilds" class="guild box">
                    <img v-if="!!getGuild(guildID).iconSrc" class="guild-icon" :src="getGuild(guildID).iconSrc">
                    <span class="guild-name">{{ getGuild(guildID).name }}</span>
                    <a class="remove" @click="paypalInfo.guilds.splice(paypalInfo.guilds.indexOf(guildID), 1)"></a>
                </div>
            </div>
            <span v-if="paypalInfo.guilds.length === 0" class="gray">No servers selected.</span>
            <br>
            <a v-show="selectedGuildID" @click="paypalInfo.guilds.push(selectedGuildID)" :style="paypalInfo.guilds.indexOf(selectedGuildID) === -1 ? '' : 'pointer-events:none;opacity:.5;'">Add selected server ({{ getGuild(selectedGuildID).name }})</a>
            <span v-show="!selectedGuildID" class="gray">Select a server at the top to add it to Bender Pro.</span>
        </div>
        <span v-else>Plan: <span class="gray">No subscription to Bender Pro.</span></span>
    </div>
    <div id="paypalLogin" v-show="!paypalInfo"></div>
    <br>
    <a v-show="!!paypalInfo" href="https://api.benderbot.co/paypal_logout">Logout of PayPal</a>
</div><div id="general" v-show="selectedGuildID && column === 'general'">
    <div class="header">
        <span class="bold">General Settings</span>
    </div>
    <div class="columns">
        <div class="setting column">
            <span class="key">Prefix:</span>
            <input type="text" id="prefix" placeholder=";" maxlength="32" v-model="gSettings.prefix">
            <span class="info">The custom prefix for commands. Default is <span class="code">;</span>. Mentioning @Bender will always trigger commands, no matter what the prefix is.</span>
        </div>
        <div class="setting column">
            <span class="key">Autorole:</span>
            <div class="dd">
                <div class="dd-trigger">
                    <button class="button" @click="openDropdown = openDropdown === 'autorole' ? null : 'autorole'">
                        <span v-if="!gSettings.autorole" class="role-icon">@</span>
                        <span v-if="!gSettings.autorole">Choose a role...</span>
                        <div v-if="gSettings.autorole">
                            <span :style="getRole(gSettings.autorole).cssColor" class="role-icon">@</span>
                            <span :style="getRole(gSettings.autorole).cssColor">{{ getRole(gSettings.autorole).name }}</span>
                        </div>
                    </button>
                </div>
                <div v-show="openDropdown === 'autorole'" class="dd-content">
                    <div><label for="AR-none">
                        <input type="radio" id="AR-none" value="" v-model="gSettings.autorole" class="hidden">
                        <span class="role-icon">❓</span>
                        <span class="role-name">None</span>
                    </label><br></div>
                    <div v-for="role in gRoles">
                        <label :for="'AR-' + role.id">
                            <input type="radio" :id="'AR-' + role.id" :value="role.id" v-model="gSettings.autorole" class="hidden">
                            <span :style="role.cssColor" class="role-icon">@</span>
                            <span :style="role.cssColor">{{ role.name }}</span>
                        </label>
                        <br>
                    </div>
                    <div v-if="gRoles.length === 0">
                        <span class="gray">No eligible roles.</span>
                    </div>
                </div>
            </div>
            <span class="info">If the agreement system is enabled, members will receive this role after agreeing. Otherwise, it will be assigned upon joining the server.</span>
        </div>
    </div>
    <table class="table is-narrow" id="bools"><tbody>
        <tr>
            <td>
                <label class="switch small">
                    <input type="checkbox" v-model="gSettings.config.permMsgs">
                    <span class="slider round"></span>
                </label>
            </td>
            <td>
                <span class="key">Show "You don't have permission to use &lt;command&gt;" messages</span>
            </td>
        </tr>
        <tr>
            <td>
                <label class="switch small">
                    <input type="checkbox" v-model="gSettings.config.disabledMsgs">
                    <span class="slider round"></span>
                </label>
            </td>
            <td>
                <span class="key">Show "The &lt;command&gt; command is disabled" messages</span>
            </td>
        </tr>
        <tr>
            <td>
                <label class="switch small">
                    <input type="checkbox" v-model="gSettings.config.replyDM">
                    <span class="slider round"></span>
                </label>
            </td>
            <td>
                <span class="key">Reply to commands in DM when Bender doesn't have permission to send messages</span>
            </td>
        </tr>
    </tbody></table>
    <div class="setting">
        <span class="key">Timezone region:</span>
        <div class="dd">
            <div class="dd-trigger">
                <button class="button" @click="openDropdown = openDropdown === 'tzr' ? null : 'tzr'">
                    <span v-if="!gSettings.tzRegion">Choose a region...</span>
                    <div v-if="gSettings.tzRegion">
                        <span>{{ gSettings.tzRegion === 'Etc' ? 'GMT Offsets' : gSettings.tzRegion }}</span>
                    </div>
                </button>
            </div>
            <div class="dd-content" v-show="openDropdown === 'tzr'">
                <div v-for="region in tzRegions">
                    <label :for="'TZR-' + region">
                        <input type="radio" :id="'TZR-' + region" :value="region" v-model="gSettings.tzRegion" class="hidden">
                        <span>{{ region === 'Etc' ? 'GMT Offsets' : region }}</span>
                    </label>
                    <br>
                </div>
            </div>
        </div>
        <span class="key">Timezone:</span>
        <div class="dd">
            <div class="dd-trigger">
                <button class="button" @click="openDropdown = openDropdown === 'tz' ? null : 'tz'">
                    <span v-if="!gSettings.tz">Choose a timezone...</span>
                    <div v-if="gSettings.tz">
                        <span>{{ gSettings.tz }}</span>
                    </div>
                </button>
            </div>
            <div class="dd-content" v-show="openDropdown === 'tz'">
                <div v-for="tz in tzs" v-show="tz.region === gSettings.tzRegion">
                    <label :for="'TZ-' + tz.id">
                        <input type="radio" :id="'TZ-' + tz.id" :value="tz.id" v-model="gSettings.tz" class="hidden">
                        <span>{{ tz.name }}</span>
                    </label>
                    <br>
                </div>
                <div v-if="!gSettings.tzRegion">
                    <span class="gray">Select a region first!</span>
                </div>
            </div>
        </div>
        <span class="info">The timezone used for formatting dates in mod logs and other commands.</span>
    </div>
</div><div id="welcome" v-show="selectedGuildID && column === 'welcome'">
    <div class="header">
        <span class="bold">Welcome messages</span>
    </div>
    <div class="setting">
        <span class="key">Variables</span>
        <br>
        <span class="info">
            You can use variables such as <span class="code">{user}</span>, <span class="code">{member}</span>, and <span class="code">{server}</span> in the following messages.
            <br>
            More details about the variables can be found on <a href="https://benderbot.co/commands#welcome" target="_blank">the commands website</a>.
        </span>
    </div>
    <div class="text-setting">
        <span class="key">Welcome DM:</span>
        <textarea placeholder="Welcome to {server}, please read the rules and enjoy!">{{ gSettings.memberLog['join-dm'] }}</textarea>
        <span class="info">Message sent to a user's DM when they join the server.</span>
    </div>
    <div class="setting">
        <span class="key">Channel:</span>
        <div class="dd">
            <div class="dd-trigger">
                <button class="button" @click="openDropdown = openDropdown === 'welcome-chan' ? null : 'welcome-chan'">
                    <span v-if="!gSettings.memberLog.channel" class="channel-icon">#</span>
                    <span v-if="!gSettings.memberLog.channel">Choose a channel...</span>
                    <div v-if="gSettings.memberLog.channel">
                        <span class="channel-icon">#</span>
                        <span>{{ getChannel(gSettings.memberLog.channel).name }}</span>
                    </div>
                </button>
            </div>
            <div v-show="openDropdown === 'welcome-chan'" class="dd-content">
                <div><label for="WC-none">
                    <input type="radio" id="WC-none" value="" v-model="gSettings.memberLog.channel" class="hidden">
                    <span class="channel-icon">❓</span>
                    <span class="channel-name">None</span>
                </label><br></div>
                <div v-for="chan in gChannels">
                    <label :for="'WC-' + chan.id">
                        <input type="radio" :id="'WC-' + chan.id" :value="chan.id" v-model="gSettings.memberLog.channel" class="hidden">
                        <span class="channel-icon">#</span>
                        <span>{{ chan.name }}</span>
                    </label>
                    <br>
                </div>
                <div v-if="gChannels.length === 0">
                    <span class="gray">No eligible channels.</span>
                </div>
            </div>
        </div>
        <span class="info">The channel where all of the following messages will be sent. Unset to disable all of these messages.</span>
    </div>
    <div class="text-setting">
        <span class="key">Welcome message:</span>
        <textarea placeholder="Welcome to {server}, {member}!">{{ gSettings.memberLog.join }}</textarea>
        <span class="info">Message sent when someone joins the server.</span>
    </div>
    <div class="text-setting">
        <span class="key">Leave message:</span>
        <textarea placeholder="Goodbye {user}, we won't miss you!">{{ gSettings.memberLog.leave }}</textarea>
        <span class="info">Message sent when someone leaves the server.</span>
    </div>
    <div class="text-setting">
        <span class="key">Ban message:</span>
        <textarea placeholder="{user} was unable to follow the rules and has been banned!">{{ gSettings.memberLog.ban }}</textarea>
        <span class="info">Message sent when someone is banned from the server.</span>
    </div>
</div><div id="selfroles" v-show="selectedGuildID && column === 'selfroles'">
    <div class="header">
        <span class="bold">Selfroles</span>
    </div>
    <div class="setting">
        <span class="info">Mark roles as joinable, so members can use <span class="code">;roleme</span> to add that role to themselves.</span>
        <table class="table is-narrow" id="joinables"><tbody>
            <tr>
                <th>Role</th>
                <th>Joinable</th>
                <th>Leavable</th>
            </tr>
            <tr v-for="role in gRoles" v-if="role.id !== selectedGuildID">
                <td>
                    <span class="role-icon" :style="role.cssColor">@</span>
                    <span class="role-name" :style="role.cssColor">{{ role.name }}</span>
                </td>
                <td>
                    <label class="switch small">
                        <input type="checkbox" v-model="gSettings.joinables[role.id].j">
                        <span class="slider round"></span>
                    </label>
                </td>
                <td>
                    <label class="switch small">
                        <input type="checkbox" v-model="gSettings.joinables[role.id].l">
                        <span class="slider round"></span>
                    </label>
                </td>
            </tr>
            <tr v-if="gRoles.length === 0">
                <td><span class="gray">No suitable roles.</span></td>
            </tr>
        </tbody></table>
    </div>
</div><div id="agreement" v-show="selectedGuildID && column === 'agreement'">
    <div class="header">
        <span class="bold">Agreement</span>
        <label class="switch">
            <input type="checkbox" v-model="gSettings.agreement.enabled">
            <span class="slider round"></span>
        </label>
    </div>
    <div class="columns">
    <div class="setting column">
        <span class="key">Channel:</span>
        <div class="dd">
            <div class="dd-trigger">
                <button class="button" @click="openDropdown = openDropdown === 'agr-chan' ? null : 'agr-chan'">
                    <span v-if="!gSettings.agreement.channel" class="channel-icon">#</span>
                    <span v-if="!gSettings.agreement.channel">Choose a channel...</span>
                    <div v-if="gSettings.agreement.channel">
                        <span class="channel-icon">#</span>
                        <span>{{ getChannel(gSettings.agreement.channel).name }}</span>
                    </div>
                </button>
            </div>
            <div v-show="openDropdown === 'agr-chan'" class="dd-content">
                <div><label for="AG-unset">
                    <input type="radio" id="AG-unset" value="" v-model="gSettings.agreement.channel" class="hidden">
                    <span class="channel-icon">❓</span>
                    <span class="channel-name">None</span>
                </label><br></div>
                <div v-for="chan in gChannels">
                    <label :for="'AG-' + chan.id">
                        <input type="radio" :id="'AG-' + chan.id" :value="chan.id" v-model="gSettings.agreement.channel" class="hidden">
                        <span class="channel-icon">#</span>
                        <span>{{ chan.name }}</span>
                    </label>
                    <br>
                </div>
                <div v-if="gChannels.length === 0">
                    <span class="gray">No eligible channels.</span>
                </div>
            </div>
        </div>
        <span class="info">This is the channel you should paste your TOS/rules into. Members should be able to type ;agree here to agree to the terms. Any messages not pinned and newer than 2 weeks will be periodically purged.</span>
    </div>
    <div class="setting column">
        <span class="key">Role:</span>
        <div class="dd">
            <div class="dd-trigger">
                <button class="button" @click="openDropdown = openDropdown === 'agr-role' ? null : 'agr-role'">
                    <span v-if="!gSettings.agreement.role" class="role-icon">@</span>
                    <span v-if="!gSettings.agreement.role">Choose a role...</span>
                    <div v-if="gSettings.agreement.role">
                        <span class="role-icon">@</span>
                        <span :style="getRole(gSettings.agreement.role).cssColor">{{ getRole(gSettings.agreement.role).name }}</span>
                    </div>
                </button>
            </div>
            <div v-show="openDropdown === 'agr-role'" class="dd-content">
                <div><label for="AG-none">
                    <input type="radio" id="AG-none" value="" v-model="gSettings.agreement.role" class="hidden">
                    <span class="role-icon">❓</span>
                    <span class="role-name">None</span>
                </label><br></div>
                <div v-for="role in gRoles">
                    <label :for="'AG-' + role.id">
                        <input type="radio" :id="'AG-' + role.id" :value="role.id" v-model="gSettings.agreement.role" class="hidden">
                        <span :style="role.cssColor" class="role-icon">@</span>
                        <span :style="role.cssColor">{{ role.name }}</span>
                    </label>
                    <br>
                </div>
                <div v-if="gRoles.length === 0">
                    <span class="gray">No eligible roles.</span>
                </div>
            </div>
        </div>
        <span class="info">Upon joining the server, members will receive this role. It should restrict them from typing in any channels except the agreement channel.</span>
    </div>
    </div>
    <div class="text-setting">
        <span class="key">Message:</span>
        <textarea placeholder="Message for new users">{{ gSettings.agreement.message }}</textarea>
        <span class="info">If specified, this message will be sent as a DM when a new user joins. It should contain server info, how to agree to the server rules, etc.</span>
    </div>
    <div class="time-setting">
        <span class="key">Wait time:</span>
        <input type="number" placeholder="5" v-model="gSettings.agreement.wait">
        <span>minutes</span>
        <label class="switch small">
            <input type="checkbox" v-model="gSettings.agreement.waitH">
            <span class="slider round"></span>
        </label>
        <span>hours</span>
        <span class="info">How long someone must be a member of the server to be able to use ;agree. Default is 5 minutes. Settings to 0 means they do not have to wait.</span>
    </div>
    <div class="time-setting">
        <span class="key">Warn time:</span>
        <input type="number" placeholder="5" v-model="gSettings.agreement.warn">
        <span>minutes</span>
        <label class="switch small">
            <input type="checkbox" v-model="gSettings.agreement.warnH">
            <span class="slider round"></span>
        </label>
        <span>hours</span>
        <span class="info">When a user will be warned, if they have not yet agreed. Default is 1 hour. Set to 0 to disable.</span>
    </div>
    <div class="time-setting">
        <span class="key">Kick time:</span>
        <input type="number" placeholder="5" v-model="gSettings.agreement.kick">
        <span>minutes</span>
        <label class="switch small">
            <input type="checkbox" v-model="gSettings.agreement.kickH">
            <span class="slider round"></span>
        </label>
        <span>hours</span>
        <span class="info">When a user will be kicked from the server, if they have not yet agreed. Default is 2 hours. Set to 0 to disable.</span>
    </div>
</div><div id="logging" v-show="selectedGuildID && column === 'logging'">
    <div class="header">
        <span class="bold">Logging Settings</span>
    </div>
    <div class="columns">
        <div class="setting column">
            <span class="key">Channel:</span>
            <div class="dd">
                <div class="dd-trigger">
                    <button class="button" @click="openDropdown = openDropdown === 'log-chan' ? null : 'log-chan'">
                        <span v-if="!gSettings.logging.channel" class="channel-icon">#</span>
                        <span v-if="!gSettings.logging.channel">Choose a channel...</span>
                        <div v-if="gSettings.logging.channel">
                            <span class="channel-icon">#</span>
                            <span>{{ getChannel(gSettings.logging.channel).name }}</span>
                        </div>
                    </button>
                </div>
                <div v-show="openDropdown === 'log-chan'" class="dd-content">
                    <div><label for="LG-none">
                        <input type="radio" id="LG-none" value="" v-model="gSettings.logging.channel" class="hidden">
                        <span class="channel-icon">❓</span>
                        <span class="channel-name">None</span>
                    </label><br></div>
                    <div v-for="chan in gChannels">
                        <label :for="'LG-' + chan.id">
                            <input type="radio" :id="'LG-' + chan.id" :value="chan.id" v-model="gSettings.logging.channel" class="hidden">
                            <span class="channel-icon">#</span>
                            <span>{{ chan.name }}</span>
                        </label>
                        <br>
                    </div>
                    <div v-if="gChannels.length === 0">
                        <span class="gray">No eligible channels.</span>
                    </div>
                </div>
            </div>
            <span class="info">Channel where all moderation logs are sent, and where deleted/edited message/command logging are sent if an alternate channel is not chosen.</span>
        </div>
        <div class="bool-setting column">
            <label class="switch small">
                <input type="checkbox" v-model="gSettings.logging.cases">
                <span class="slider round"></span>
            </label>
            <span class="key">Enable mod-logging cases</span>
            <span class="info">Whether to save moderation logs in the database, with each one assigned a case number. Also allows the use of <span class="code">;reason</span> and viewing all mod logs for a user.</span>
        </div>
    </div>
    <div class="setting">
        <span class="key">Commands logged:</span>
        <br>
        <div class="log-cmd">
            <label class="switch small">
                <input type="checkbox" v-model="gSettings.logging['cmd-ban']">
                <span class="slider round"></span>
            </label>
            <span class="code">;ban</span> + automatic bans
        </div>
        <div class="log-cmd">
            <label class="switch small">
                <input type="checkbox" v-model="gSettings.logging['cmd-unban']">
                <span class="slider round"></span>
            </label>
            <span class="code">;unban</span>
        </div>
        <div class="log-cmd">
            <label class="switch small">
                <input type="checkbox" v-model="gSettings.logging['cmd-mute']">
                <span class="slider round"></span>
            </label>
            <span class="code">;mute</span> + automatic mutes
        </div>
        <div class="log-cmd">
            <label class="switch small">
                <input type="checkbox" v-model="gSettings.logging['cmd-unmute']">
                <span class="slider round"></span>
            </label>
            <span class="code">;unmute</span> + automatic unmutes
        </div>
        <div class="log-cmd">
            <label class="switch small">
                <input type="checkbox" v-model="gSettings.logging['cmd-kick']">
                <span class="slider round"></span>
            </label>
            <span class="code">;kick</span> + automatic kicks
        </div>
        <div class="log-cmd">
            <label class="switch small">
                <input type="checkbox" v-model="gSettings.logging['cmd-role']">
                <span class="slider round"></span>
            </label>
            <span class="code">;role</span>
        </div>
        <div class="log-cmd">
            <label class="switch small">
                <input type="checkbox" v-model="gSettings.logging['cmd-purge']">
                <span class="slider round"></span>
            </label>
            <span class="code">;purge</span>
        </div>
        <div class="log-cmd">
            <label class="switch small">
                <input type="checkbox" v-model="gSettings.logging['cmd-warn']">
                <span class="slider round"></span>
            </label>
            <span class="code">;warn</span>
        </div>
        <div class="log-cmd">
            <label class="switch small">
                <input type="checkbox" v-model="gSettings.logging['cmd-clonerole']">
                <span class="slider round"></span>
            </label>
            <span class="code">;clonerole</span>
        </div>
    </div>
    <div class="time-setting">
        <div class="level">
            <div class="setting">
                <span class="key">Deleted message logging:</span>
                <div class="dd">
                    <div class="dd-trigger">
                        <button class="button" @click="openDropdown = openDropdown === 'dml-chan' ? null : 'dml-chan'">
                            <span v-if="!gSettings.logging.deleted" class="channel-icon">#</span>
                            <span v-if="!gSettings.logging.deleted">Choose a channel...</span>
                            <div v-if="gSettings.logging.deleted">
                                <span class="channel-icon">#</span>
                                <span>{{ getChannel(gSettings.logging.deleted).name }}</span>
                            </div>
                        </button>
                    </div>
                    <div v-show="openDropdown === 'dml-chan'" class="dd-content">
                        <div><label for="DML-true">
                            <input type="radio" id="DML-true" :value="true" v-model="gSettings.logging.deleted" class="hidden">
                            <span class="channel-icon">✅</span>
                            <span class="channel-name">Enabled</span>
                        </label><br></div>
                        <div><label for="DML-false">
                            <input type="radio" id="DML-false" :value="false" v-model="gSettings.logging.deleted" class="hidden">
                            <span class="channel-icon">❌</span>
                            <span class="channel-name">Disabled</span>
                        </label><br></div>
                        <div v-for="chan in gChannels">
                            <label :for="'DML-' + chan.id">
                                <input type="radio" :id="'DML-' + chan.id" :value="chan.id" v-model="gSettings.logging.deleted" class="hidden">
                                <span class="channel-icon">#</span>
                                <span>{{ chan.name }}</span>
                            </label>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="setting">
                <span class="key">Edited message logging:</span>
                <div class="dd">
                    <div class="dd-trigger">
                        <button class="button" @click="openDropdown = openDropdown === 'eml-chan' ? null : 'eml-chan'">
                            <span v-if="!gSettings.logging.edited" class="channel-icon">#</span>
                            <span v-if="!gSettings.logging.edited">Choose a channel...</span>
                            <div v-if="gSettings.logging.edited">
                                <span class="channel-icon">#</span>
                                <span>{{ getChannel(gSettings.logging.edited).name }}</span>
                            </div>
                        </button>
                    </div>
                    <div v-show="openDropdown === 'eml-chan'" class="dd-content">
                        <div><label for="EML-true">
                            <input type="radio" id="EML-true" :value="true" v-model="gSettings.logging.edited" class="hidden">
                            <span class="channel-icon">✅</span>
                            <span class="channel-name">Enabled</span>
                        </label><br></div>
                        <div><label for="EML-false">
                            <input type="radio" id="EML-false" :value="false" v-model="gSettings.logging.edited" class="hidden">
                            <span class="channel-icon">❌</span>
                            <span class="channel-name">Disabled</span>
                        </label><br></div>
                        <div v-for="chan in gChannels">
                            <label :for="'EML-' + chan.id">
                                <input type="radio" :id="'EML-' + chan.id" :value="chan.id" v-model="gSettings.logging.edited" class="hidden">
                                <span class="channel-icon">#</span>
                                <span>{{ chan.name }}</span>
                            </label>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="setting">
                <span class="key">Command logging:</span>
                <div class="dd">
                    <div class="dd-trigger">
                        <button class="button" @click="openDropdown = openDropdown === 'cml-chan' ? null : 'cml-chan'">
                            <span v-if="!gSettings.logging.commands" class="channel-icon">#</span>
                            <span v-if="!gSettings.logging.commands">Choose a channel...</span>
                            <div v-if="gSettings.logging.commands">
                                <span class="channel-icon">#</span>
                                <span>{{ getChannel(gSettings.logging.commands).name }}</span>
                            </div>
                        </button>
                    </div>
                    <div v-show="openDropdown === 'cml-chan'" class="dd-content">
                        <div><label for="CML-true">
                            <input type="radio" id="CML-true" :value="true" v-model="gSettings.logging.commands" class="hidden">
                            <span class="channel-icon">✅</span>
                            <span class="channel-name">Enabled</span>
                        </label><br></div>
                        <div><label for="CML-false">
                            <input type="radio" id="CML-false" :value="false" v-model="gSettings.logging.commands" class="hidden">
                            <span class="channel-icon">❌</span>
                            <span class="channel-name">Disabled</span>
                        </label><br></div>
                        <div v-for="chan in gChannels">
                            <label :for="'CML-' + chan.id">
                                <input type="radio" :id="'CML-' + chan.id" :value="chan.id" v-model="gSettings.logging.commands" class="hidden">
                                <span class="channel-icon">#</span>
                                <span>{{ chan.name }}</span>
                            </label>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><div id="tags" v-show="selectedGuildID && column === 'tags'">
    <div class="header"><span class="bold">Tags</span></div>
    <span class="info">Tags are used like simple commands; if you use Bender's prefix + the tag name, you get a response.<br>For example, you could make a tag "hello" with the response "world." Details about variables you can use, i.e. <span class="code">{args}</span>, can be found <a href="https://benderbot.co/commands#tag" target="_blank">here.</a></span>
    <div>
        <span class="key">Raw</span>
        <label class="switch small">
            <input type="checkbox" v-model="previewEnabled">
            <span class="slider round"></span>
        </label>
        <span class="key">&nbsp;&nbsp;Preview</span>
    </div>
    <table id="tag_list" class="table"><tbody>
        <tr>
            <th>Tag Name</th>
            <th>Tag Content</th>
        </tr>
        <tr v-for="(content, name) in gSettings.tags">
            <td>{{ name }}</td>
            <td>
                <textarea v-show="!previewEnabled" v-model="gSettings.tags[name]">{{ content }}</textarea>
                <div v-show="previewEnabled" v-html="parseMD(content)"></textarea>
            </td>
            <td><a @click="deleteTag(name)" class="remove"></a></td>
        </tr>
        <tr v-if="getLen(gSettings.tags) === 0">
            <td><span class="gray">No tags added.</span></td>
        </tr>
    </tbody></table>
    <div class="setting" v-if="getLen(gSettings.tags) < 50">
        <span class="key">Add a new tag:</span> <input id="new-tag-name" type="text" placeholder="New tag name" v-model="tagTemp.name">
        <textarea id="new-tag" placeholder="New tag content" v-model="tagTemp.content">{{ tagTemp.content }}</textarea>
        <button class="button" @click="addTag()">
            <img class="add" src="https://cdn.discordapp.com/emojis/418199165948919829.png?v=1"> <span>Add</span>
        </button>
    </div>
    <span v-else class="gray">Max number of tags reached; Cannot add more.</span>
</div><div id="modlog" v-show="selectedGuildID && column === 'modlog'">
    <div class="header"><span class="bold">Mod Log</span></div>
    <div class="setting" v-if="getLen(gSettings.modlog) > 0">
        <span class="gray">{{ getLen(gSettings.modlog) }} case{{ getLen(gSettings.modlog) > 1 ? 's' : '' }} on record.</span>
        <!-- TODO: Search onchange (or a button press) ¯\_(ツ)_/¯ -->
        <span class="key">Search case:</span> <input id="search-input" type="text" placeholder="Case" v-model="searchValue">
    </div>
    <div class="setting" v-else><span class="gray">No mod logs yet.</span></div>
    <table id="modlog_list" class="table"><tbody>
        <tr>
            <th>Case #</th>
            <th>Type</th>
            <th>User ID</th>
            <th>Issuer ID</th>
            <th>Reason</th>
            <th>Time</th>
        </tr>
        <tr v-for="(data, key, index) in gSettings.modlog">
            <td>{{ index+1 }}</td>
            <td class="modlog-action">{{ data.action.replace('cmd-', '') }}</td>
            <td>{{ data.target }}</td>
            <td>{{ data.moderator }}</td>
            <td v-html="data.extras ? data.extras.reason ? parseMD(data.extras.reason) : '&amp;lt;not provided&amp;gt;' : '&amp;lt;not provided&amp;gt;'"></td>
            <td>{{ gSettings.tzRegion && gSettings.tz ? moment(data.timestamp).tz(`${gSettings.tzRegion}/${gSettings.tz}`).format('MMM Do YYYY, h:mma z') : moment(data.timestamp).format('MMM Do YYYY, h:mma z') }}</td>
        </tr>
    </tbody></table>
</div><div id="aliases" v-show="selectedGuildID && column === 'aliases'">
    <div class="header"><span class="bold">Aliases</span></div>
    <span class="info">Aliases are used to give commands an alternative name.</span>
    <table id="aliases_list" class="table"><tbody>
        <tr>
            <th>Alias</th>
            <th>Command</th>
        </tr>
        <tr v-for="(command, name) in gSettings.aliases">
            <td>{{ name }}</td>
            <td><span class="code">{{ gSettings.prefix || ';' }}{{ command }}</span></td>
            <td><a @click="deleteAlias(name)" class="remove"></a></td>
        </tr>
        <tr v-if="getLen(gSettings.aliases) === 0">
            <td><span class="gray">No aliases added.</span></td>
        </tr>
    </tbody></table>
    <div class="setting" v-if="getLen(gSettings.aliases) < 50">
        <span class="key">Add a new alias:</span>
        <!-- TODO: Dropdown of all available commands (or just input) -->
            <select v-model="aliasTemp.value">
                <option selected hidden>Command</option>
                <option value="ban">gibemotes</option>
                <option value="role">promote</option>
                <option value="mute">shutup</option>
            </select>
        <input id="new-alias-name" type="text" placeholder="New alias" v-model="aliasTemp.name">
        <button class="button" @click="addAlias()">
            <img class="add" src="https://cdn.discordapp.com/emojis/418199165948919829.png?v=1"> <span>Add</span>
        </button>
    </div>
    <span v-else class="gray">Max number of aliases reached; Cannot add more.</span>
</div><div id="mutes" v-show="selectedGuildID && column === 'mutes'">
        <div class="header"><span class="bold">Mutes</span></div>
        <div class="setting" v-if="getLen(gSettings.mutes, ['role', 'default']) > 0">
            <span class="key">There {{ getLen(gSettings.mutes, ['role', 'default']) > 1 ? 'are' : 'is' }} currently {{ getLen(gSettings.mutes, ['role', 'default']) }} active mute{{ getLen(gSettings.mutes, ['role', 'default']) > 1 ? 's' : '' }}.</span>
        </div>
        <div class="setting" v-else><span class="gray">No active mutes currently.</span></div>
        <table id="mutes_list" class="table"><tbody>
            <tr>
                <th>User ID</th>
                <th>Issuer ID</th>
                <th>Ends at</th>
                <th>Reason</th>
            </tr>
            <tr v-for="(data, userID) in gSettings.mutes" v-if="userID !== 'role' && userID !== 'default'">
                <td>{{ userID }}</td>
                <td>{{ data.issuer }}</td>
                <td>{{ gSettings.tzRegion && gSettings.tz ? moment(data.timestamp).tz(`${gSettings.tzRegion}/${gSettings.tz}`).format('MMM Do YYYY, h:mma z') : moment(data.timestamp).format('MMM Do YYYY, h:mma z') }}</td>
                <td>{{ data.reason }}</td>
            </tr>
        </tbody></table>
    </div></section>
<footer class="footer has-text-centered hidden"><span class="gray">PayPal logo © PayPal, Inc. Image of Bender belongs to Matt Groening. Basically, I didn't make any images on this site :^)</span></footer>
<div id="notif" class=""><span id="notif-text"></span></div>
</div>
<script src="./dashboard.js"></script>
</body>
</html>
