html {
    overflow-y: auto !important;
}

img.b {
    width: 40px;
    margin: -15px 10px 0px 0px;
    filter: drop-shadow(0 0 5px #ff9c00);
}
div.b {
    display: inline;
}
#header-wrapper {
    margin: 10px;
    text-align: center;
    z-index: 1;
}
.bold, .bold:hover {
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}
#header {
    padding: 8px 12px;
    text-align: left;
}
#navbar {
    padding: 5px 10px;
    border-radius: 7px;
    background: rgba(255, 0, 0, 0.5);
    box-shadow: 2px 2px 6px #000;
}
#guild-picker {
    display: inline-block;
    text-align: left;
}
#integration {
    display: inline-block;
}
img.pfp {
    border-radius: 50%;
    height: 32px;
    box-shadow: 1px 1px 5px #000;
    margin-right: 7px;
}
#settings-wrapper {
    margin: 10px;
    padding: 0 20px;
    text-align: center;
    margin-bottom: 40px;
}
.guild-icon {
    height: 32px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 5px;
}
span.key {
    margin-right: 10px;
}

.channel-icon, .role-icon {
    color: rgba(255, 126, 47, 0.9);
    font-size:  22px;
    display:  inline-block;
    line-height: 20px;
    vertical-align:  bottom;
}

h3 {
    display:  inline-block;
    margin-right: 20px;
    margin-top:  0;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 28px;
}
/* Hide default HTML checkbox */
.switch input {
    display: none;
}
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #585858;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 28px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider {
  background-color: #ff7728;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(28px);
}

#header, .header, .level img.guild-icon, .switch, #sidenav-toggle, img.b {
    vertical-align:  middle;
}
.header > hr {
    margin: 3px 0.5rem;
}
hr.thin {
    margin: 0.5rem;
}

span.info {
    color: rgba(255, 255, 255, 0.7);
    display: block;
}

.setting {
    vertical-align:  top;
    margin: 0 15px;
}

.text-setting, .time-setting {
    margin-top:  15px;
}

input, textarea {
    border: 3px solid rgba(255, 255, 255, 0.1);
    border-radius: 7px;
    transition: height 0.5s, margin 0.5s;
    background: #333;
    z-index: 10;
    padding: 2px 8px !important;
    color: #fff;
    vertical-align: middle;
}

.text-setting > input {
    width: 80%;
}
input.error {
    color: #fff;
    background-color: rgba(255, 0, 0, 0.6);
}
.error {
    color: #d11;
}
.group {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
}

#agr-wait+span {
    margin-left: 10px;
}

.time-setting > input {
    width:  50px;
}

label.switch.small {
    width:  40px;
    height:  20px;
}

.switch.small > .slider:before {
    height: 18px;
    width:  18px;
    left:  1px;
    bottom:  1px;
}
.switch.small input:checked + .slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(19px);
}

button > span {
    color: #fff;
    text-shadow: 0 0 10px #000;
}
button > span:not(:only-child) {
    margin-left: 5px;
}

div#notif {
    background: #333;
    transition: 500ms;
    left: -250px;
    width: 200px;
    position: fixed;
    bottom: 20px;
    padding: 5px 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 2px 6px #000;
    text-align:  center;
}

div#notif.success {
    background: #10b510;
    left: 0;
}
div#notif.error {
    background: #bb0000;
    left: 0;
}
div#notif.pending {
    background: #0072ff;
    left: 0;
}

img#pp_logo {
    height: 30px;
    margin-left: 20px;
}

footer {
    position:  fixed;
    bottom: 0;
    left: 0;
    width:  100%;
    padding: 5px 0 !important;
}

#guild-picker > span {
    margin-right: 10px;
    margin-top: 9px;
    display: inline-block;
    vertical-align: middle;
}

#guilds {
    display: inline-block;
}

.dd-content {
    min-height: 20px;
    min-width: 100px;
    position: absolute;
    background-color: #282f2f;
    border: 3px solid rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    max-height: 300px;
    overflow-y: auto;
    z-index: 1;
}
.dd-up {
    bottom: 100%;
}

.level-item > .bold {
    margin-right: 10px;
}

textarea {
    min-width: 70%;
}

input[type='number'] {
    -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.loading {
    height: 100px !important;
}
.ro, .cs {
    color: red;
    font-variant: all-small-caps;
    vertical-align: super;
    line-height: 10px;
}
.cs {
    color: orange;
}
aside.menu {
    width: 250px;
    padding: 10px;
    background: #2f3636;
    z-index: 11;
}
.menu-list li ul {
    margin-top: 0;
    padding-left: 0.25em;
}
#settings-wrapper .columns {
    margin: 0;
}
.hidden {
    display: none !important;
}
.invis {
    visibility: hidden;
}
.button {
    color: #fff !important;
}
.button[disabled] {
    background-color: #282f2f !important;
    border-color: #4c5759 !important;
    opacity: .4 !important;
}
a#logout {
    float: right;
}
#sidenav-toggle {
    display: inline-block;
    padding:  5px;
    background-color: rgba(255, 255, 255, 0.1);
    /*vertical-align:  middle;*/
    margin-right: 10px;
    border-radius: 7px;
    transition: background-color 250ms;
}
#sidenav-toggle:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

span.user-tag {
    display:  block;
}
span.user-area {
    display:  inline-block;
    vertical-align: text-bottom;
}

span.code {
    font-family: Consolas;
    font-size: 13px;
    background-color: rgba(255,255,255,0.2);
    padding: 2px 4px 3px;
    border-radius: 3px;
}
.csfont {
    font-family: Consolas;
}
.gray {
    color: rgba(255, 255, 255, 0.5);
}
.red {
    color: #f00;
}
.green {
    color: #0f0;
}
.yellow {
    color: #ff0;
}
.blue {
    color: #08f;
}

a:not([class]):not(#sidenav-close) {
    color: #faa61a !important;
}
a:not([class]):not(#sidenav-close):hover {
    color: #fad61a !important;
}

#sidenav {
    width: 250px;
    position: fixed;
    background: #2f3434;
    overflow-y: auto;
    z-index: 11;
    top: 0;
    height: 100%;
}
#sidenav .menu-label {
    box-shadow: 0 0 19px -3px black;
    padding: 10px;
    width: 100%;
    background: rgba(255, 0, 0, 0.5);
}
#sidenav .menu-list {
    padding: 0 10px;
}
#sidenav p.menu-label:first-of-type {
    margin-top: 2.5em;
}
.menu-list a.is-active {
    background-color: #f50 !important;
}
.menu-list a.is-active:hover {
    background-color: #f60 !important;
}

#backdrop {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background: rgba(0,0,0,0.9);
    z-index: 10;
}
#sidenav-close {
    background-color: #ff2828;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 10px 3px 10px;
    border-bottom-left-radius: 7px;
}
.log-cmd {
    display:  inline-block;
    margin: 2px;
    padding: 2px 10px 5px 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
}
.dd-content label {
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px 10px;
    cursor: pointer;
    display: block;
}
.dd-content > div > label {
    margin: 7px 5px;
}
.dd-content label.disabled {
    pointer-events: none;
    cursor: default;
}
.dd-content label.disabled:before {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 0;
    width: 100%;
    height: 42px;
    margin-top: -5px;
    background: rgba(40, 47, 47, 0.9);
    padding: 5px;
    text-align: center;
    background-image: repeating-linear-gradient(135deg, transparent, transparent 5px, rgba(255, 255, 255, 0.03) 5px, rgba(255, 255, 255, 0.03) 10px);
}
.dd-content label.no-perms:before {
    content: '🔒 No admin perms';
}
.dd-content label.managed:before {
    content: '⚙ Managed';
}
.dd-content label.autorole:before {
    content: '⛔ Autorole';
}
.dd-content label.agreement:before {
    content: '⛔ Agreement';
}
.dd-content label.too-high:before {
    content: '🔒 Too high';
}
.mini-header {
    background-color: rgba(255, 255, 255, 0.1);
}
table {
    margin: 0 auto;
    margin-bottom: 20px;
}
#tags {
    min-width: 70%;
    margin-top: 20px;
}
#joinables {
    margin-top: 20px;
}

a.discord {
    margin: 3px 0 2px 5px;
}
a.discord img {
    filter: hue-rotate(140deg);
    transition: 150ms;
}

/** transitions **/
@keyframes fade {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
.fade-enter-active {
  animation: fade .25s;
}
.fade-leave-active {
  animation: fade .25s reverse;
}
@keyframes slide-fade {
    0% {
        opacity: 0;
        margin-left: -300px;
    }
    60% {
        opacity: 1
    }
    100% {
        margin-left: 0
    }
}
.fade-slide-enter-active {
  animation: slide-fade .25s;
}
.fade-slide-leave-active {
  animation: slide-fade .25s reverse;
}
::-webkit-scrollbar-track {
    background-color: rgba(204, 204, 204, 0.1);
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f500;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(255, 0, 0, .5);
    background-image: -webkit-linear-gradient(90deg, transparent, rgba(255, 178, 0, 0.5) 50%, transparent, transparent);
}

#guild-picker *::-webkit-scrollbar-track {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dd {
    position: relative;
}
.dd:not(#guilds) {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 3px;
}
#tz-region {
    margin-right: 20px;
}

#refresh, #save {
    height: 24px;
    width: 24px;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 7px;
    margin-left: 7px;
    cursor: pointer;
    transition: transform 250ms;
}
#refresh.working {
    animation: spin 1s infinite linear;
}
#refresh:not(.working):hover {
    transform: rotate(30deg);
}
#save:hover {
    transform: scale(1.2);
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.guild.box {
    display: inline-block;
    padding: 5px 15px;
    margin: 3px !important;
}
.guild.box > * {
    vertical-align:  middle;
}
.remove {
    background-image: url(./trash.png);
    height: 20px;
    width: 20px;
    background-size: 20px;
    display:  inline-block;
    margin-left: 10px;
    opacity: .4;
}
.remove:hover {
    opacity: 0.9;
}

.wide-table {
    min-width: 70%;
    margin-top: 20px;
}
.skinny-table {
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}
textarea#new-tag {
    min-width: unset;
    vertical-align: top;
    margin: 0 10px;
}
#tag_list textarea {
    width: 100%;
}
.button.add {
    vertical-align: middle;
}
img.add {
    height: 16px;
}
#modlog .setting {
    margin-top: 10px;
}
#aliases_list{
    min-width: 40%;
    margin-top: 20px;
}
#new-alias-name {
    margin: 0 10px;
}
td {
    max-width: 400px;
    word-wrap: break-word;
}
.modlog-action {
    text-transform: capitalize;
}
.mention {
    background-color: rgba(114,137,218,.1);
    color: #7289da;
}
.mention:hover {
    background-color: rgba(114,137,218,.7);
    color: #fff;
}

pre {
    padding: 2px 7px !important;
    border: 3px solid rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    background: rgba(0, 0, 0, 0.15);
}
code.hljs {
    color: #fff;
    background: transparent;
    padding: 0;
}
.paragraph {
    margin-bottom:  10px;
}
.smallToggle {
    margin-bottom:  7px;
}
.mid {
    vertical-align: middle;
}

/* regex highlighting */
.regex b     {color: #35F;} /* metasequence */
.regex i     {color: #D70;} /* char class */
.regex i b   {color: #C0C;} /* char class: metasequence */
.regex i u   {color: #DB0;} /* char class: range-hyphen */
.regex b.g1  {background: rgba(0, 153, 26, 0.2);color: #019800;} /* group: depth 1 */
.regex b.g2  {background: rgba(0, 194, 33, 0.5);color: #01ff00;} /* group: depth 2 */
.regex b.g3  {background: rgba(0, 153, 26, 0.2);color: #019800;} /* group: depth 3 */
.regex b.g4  {background: rgba(0, 194, 33, 0.5);color: #01ff00;} /* group: depth 4 */
.regex b.g5  {background: rgba(0, 153, 26, 0.2);color: #019800;} /* group: depth 5 */
.regex b.err {color: red; border-bottom: solid 2px red;} /* error */
.regex b, .regex i, .regex u {font-weight: normal; font-style: normal; text-decoration: none;}
