html {
    overflow-y: auto !important;
}

img.b {
    width: 40px;
    margin: -15px 10px 0px 0px;
    filter: drop-shadow(0 0 5px #ff9c00);
}
div.b {
    display: inline;
}
#header-wrapper {
    margin: 10px;
    text-align: center;
    z-index: 1;
}
.bold, .bold:hover {
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}
#header {
    padding: 8px 12px;
    text-align: left;
}
#navbar {
    padding: 5px 10px;
    border-radius: 7px;
    background: rgba(255, 0, 0, 0.5);
    box-shadow: 2px 2px 6px #000;
}
#guild-picker {
    display: inline-block;
    text-align: left;
}
#integration {
    display: inline-block;
}
img.pfp {
    border-radius: 50%;
    height: 32px;
    box-shadow: 1px 1px 5px #000;
    margin-right: 7px;
}
#settings-wrapper {
    margin: 10px;
    padding: 0 20px;
    text-align: center;
    margin-bottom: 40px;
}
.guild-icon {
    height: 32px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 5px;
}
span.key {
    margin-right: 10px;
}

.channel-icon, .role-icon {
    color: rgba(255, 126, 47, 0.9);
    font-size:  22px;
    display:  inline-block;
    line-height: 20px;
    vertical-align:  bottom;
}

h3 {
    display:  inline-block;
    margin-right: 20px;
    margin-top:  0;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 28px;
}
/* Hide default HTML checkbox */
.switch input {
    display: none;
}
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #585858;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 28px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider {
  background-color: #ff7728;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(28px);
}

#header, .header, .level img.guild-icon, .switch, #sidenav-toggle, img.b {
    vertical-align:  middle;
}

span.info {
    color: rgba(255, 255, 255, 0.7);
    display: block;
}

.setting {
    vertical-align:  top;
    margin: 0 15px;
}

.text-setting, .time-setting {
    margin-top:  15px;
}

input, textarea {
    border: 3px solid rgba(255, 255, 255, 0.1);
    border-radius: 7px;
    transition: height 0.5s, margin 0.5s;
    background: #333;
    z-index: 10;
    padding: 2px 8px !important;
    color: #fff;
    vertical-align: middle;
}

.text-setting > input {
    width: 80%;
}

#agr-wait+span {
    margin-left: 10px;
}

.time-setting > input {
    width:  50px;
}

label.switch.small {
    width:  40px;
    height:  20px;
}

.switch.small > .slider:before {
    height: 18px;
    width:  18px;
    left:  1px;
    bottom:  1px;
}
.switch.small input:checked + .slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(19px);
}

button > span {
    color:  #fff;
    margin-left: 5px;
    text-shadow: 0 0 10px #000;
}

div#notif {
    background: #333;
    transition: 500ms;
    left: -250px;
    width: 200px;
    position: fixed;
    bottom: 20px;
    padding: 5px 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 2px 6px #000;
    text-align:  center;
}

div#notif.success {
    background: #10b510;
    left: 0;
}
div#notif.error {
    background: #bb0000;
    left: 0;
}
div#notif.pending {
    background: #0072ff;
    left: 0;
}

img#pp_logo {
    height: 30px;
    margin-left: 20px;
}

footer {
    position:  fixed;
    bottom: 0;
    left: 0;
    width:  100%;
    padding: 5px 0 !important;
}

#guild-picker > span {
    margin-right: 10px;
    margin-top: 9px;
    display: inline-block;
    vertical-align: middle;
}

#guilds {
    display: inline-block;
}

.dd-content {
    min-height: 20px;
    min-width: 100px;
    position: absolute;
    background-color: #282f2f;
    border: 3px solid rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    max-height: 300px;
    overflow-y: auto;
    z-index: 1;
}
.dd-up {
    bottom: 100%;
}

.level-item > .bold {
    margin-right: 10px;
}

textarea {
    min-width: 70%;
}

input[type='number'] {
    -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.loading {
    height: 100px !important;
}
.ro, .cs {
    color: red;
    font-variant: all-small-caps;
    vertical-align: super;
    line-height: 10px;
}
.cs {
    color: orange;
}
aside.menu {
    width: 250px;
    padding: 10px;
    background: #2f3636;
    z-index: 11;
}
.menu-list li ul {
    margin-top: 0;
    padding-left: 0.25em;
}
#settings-wrapper .columns {
    margin: 0;
}
.hidden {
    display: none !important;
}
.invis {
    visibility: hidden;
}
.button {
    color: #fff !important;
}
a#logout {
    float: right;
}
#sidenav-toggle {
    display: inline-block;
    padding:  5px;
    background-color: rgba(255, 255, 255, 0.1);
    /*vertical-align:  middle;*/
    margin-right: 10px;
    border-radius: 7px;
    transition: background-color 250ms;
}
#sidenav-toggle:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

span.user-tag {
    display:  block;
}
span.user-area {
    display:  inline-block;
    vertical-align: text-bottom;
}

span.code {
    font-family: Consolas;
    font-size: 13px;
    background-color: rgba(255,255,255,0.2);
    padding: 2px 4px 3px;
    border-radius: 3px;
}
.gray {
    color: rgba(255, 255, 255, 0.5);
}

#sidenav {
    width: 250px;
    position:  absolute;
    background: #2f3434;
    overflow-y: auto;
    z-index: 11;
    top: 0;
    height: 100%;
}

#sidenav .menu-label {
    box-shadow: 1px 1px 5px 2px black;
    padding: 10px;
    width: 100%;
    background: rgba(255, 0, 0, 0.5);
}

#sidenav .menu-list {
    padding: 10px;
}
#sidenav p.menu-label:first-of-type {
    margin-top: 2.5em;
}

#backdrop {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background: rgba(0,0,0,0.9);
    z-index: 10;
}
#sidenav-close {
    background-color: #ff2828;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 10px 3px 10px;
    border-bottom-left-radius: 7px;
}
.log-cmd {
    display:  inline-block;
    margin: 2px;
    padding: 2px 10px 5px 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
}
.dd-content > * {
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px 10px;
    cursor: pointer;
}
table {
    margin: 0 auto;
    margin-bottom: 20px;
}
#tags {
    min-width: 70%;
    margin-top: 20px;
}
#joinables {
    margin-top: 20px;
}

a.discord {
    margin: 3px 0 2px 5px;
}
a.discord img {
    filter: hue-rotate(140deg);
    transition: 150ms;
}

/** transitions **/
@keyframes fade {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
.fade-enter-active {
  animation: fade .25s;
}
.fade-leave-active {
  animation: fade .25s reverse;
}
@keyframes slide-fade {
    0% {
        opacity: 0;
        margin-left: -300px;
    }
    60% {
        opacity: 1
    }
    100% {
        margin-left: 0
    }
}
.fade-slide-enter-active {
  animation: slide-fade .25s;
}
.fade-slide-leave-active {
  animation: slide-fade .25s reverse;
}
::-webkit-scrollbar-track {
    background-color: rgba(204, 204, 204, 0.1);
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f500;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(255, 0, 0, .5);
    background-image: -webkit-linear-gradient(90deg, transparent, rgba(255, 178, 0, 0.5) 50%, transparent, transparent);
}

#guild-picker *::-webkit-scrollbar-track {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dd {
    position: relative;
}
.dd:not(#guilds) {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 3px;
}
#tz-region {
    margin-right: 20px;
}

#refresh, #save {
    height: 24px;
    width: 24px;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 7px;
    margin-left: 7px;
    cursor: pointer;
    transition: transform 250ms;
}
#refresh.working {
    animation: spin 1s infinite linear;
}
#refresh:not(.working):hover {
    transform: rotate(30deg);
}
#save:hover {
    transform: scale(1.2);
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.guild.box {
    display: inline-block;
    padding: 5px 15px;
}
.guild.box > * {
    vertical-align:  middle;
}
.remove {
    background-image: url(./trash.png);
    height: 20px;
    width: 20px;
    background-size: 20px;
    display:  inline-block;
    margin-left: 10px;
    opacity: .4;
}
.remove:hover {
    opacity: 0.9;
}

#tag_list, #modlog_list, #mutes_list {
    min-width: 70%;
    margin-top: 20px;
}
textarea#new-tag {
    min-width: unset;
    vertical-align: top;
    margin: 0 10px;
}
#tag_list textarea {
    width: 100%;
}
img.add {
    height: 16px;
}
#modlog .setting {
    margin-top: 10px;
}
#aliases_list{
    min-width: 40%;
    margin-top: 20px;
}
#new-alias-name {
    margin: 0 10px;
}
